



#block-alxsocial-alxsocial-shared-links .content {
	margin: 0 0 0 20px;
}



#block-alxsocial-alxsocial-shared-links .soclink {
	float: left;
    margin-bottom: 20px;
    padding-right: 25px;
}

/*
    margin-bottom: 20px;
    padding-left: 25px;
*/