#block-alxloginout-user-login-logout-button {
	height: 26px;
	line-height: 24px;
	margin: 0;
	padding: 0;
	color: #FF0000;
	font-size: 12px;
	text-align: right;
}

#block-alxloginout-user-login-logout-button a {
	color: #FF0000;
	font-weight: bold;
	text-decoration: none;
}

#block-alxloginout-user-login-logout-button .login_link {
	font-weight: bold;
	cursor: pointer;
}

#block-alxloginout-user-login-logout-button .login_link:hover,
#block-alxloginout-user-login-logout-button a:hover {
	text-decoration: underline;
}

#block-alxloginout-user-login-logout-button .logout_link {
	font-weight: normal;
}